@mixin button( $class, $bg, $bg-hover, $font-col){
    .#{$class}{
        position: relative;
        margin-right: 10px;
        background: $bg;
        padding: 8px  12px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        text-transform: uppercase;
        transition: background .3s linear;
        @include font( 16px, $font-col);
    }
    .#{$class}:after{
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        content: '';
        transition: opacity .3s linear;
        border-radius: 3px;
        box-shadow: 2px 2px 5px 2px rgba(50, 50, 50, .5 );
    }
    .#{$class}:hover{
        background: $bg-hover;
    }
    .#{$class}:hover:after{
        opacity: 0;
    }
}

@include button('nav-btn' , $bg-nav-btn, $bg-nav-btn2, $font-col5);
@include button('toggler-btn', $bg-toggler-btn, $bg-toggler-btn2, #fff);

