
@font-face {
    font-family: Proxima Nova; 
    src: url(assets/fonts/ProximaNova-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Proxima Nova; 
    src: url(assets/fonts/ProximaNova-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Proxima Nova; 
    src: url(assets/fonts/ProximaNova-Semibold.ttf);
    font-weight: 700;
    font-style: normal;
}

$main-font: Proxima Nova;

@mixin font ( $font-size, $font-color, $font-weight: 500, $font-style: normal, $font-family: $main-font) {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $font-color;
}


body{
    @include font(16px, $font-col1)
}