.header{
    &__nav-bar{

    }
}


.nav-bar{
    display: flex;
    flex-direction: row;
    &__item{
        display: flex;
        position: relative;
        padding: 5px 10px;
        margin: 0 5px;
        color: $font-col5;
        cursor: pointer;
        ul{
            position: absolute;
            top: 110%; left: 0;
            white-space: nowrap;
            max-height: 0;
            overflow: hidden;
            padding: 0;
            background: rgb(5, 76, 168);
            border-radius: 5px;
            transition: all .3s ease-in-out;
            z-index: 3;
            li{
                padding: 10px 15px;
                border-bottom: 1px solid #fff;
            }
        }
        &-icon{
            fill: $font-col5;
            transition: all .3s linear;
            line-height: 0;
            
        }
    }
    &__item:hover{
        ul{
            max-height: 200px;
        }
        .nav-bar__item-icon{
            transform: rotateZ(180deg);
        }
    }

    &__item::after{
        position: absolute;
        top: 0; left: 0;  bottom: 0;
        content: '';
        border-bottom: 1px solid $bord-col;
        min-width: 0;
        transition: min-width .3s linear;
    }
    &__item:hover::after{
        min-width: 100%;
    }

    &__item:last-child{
        border-right-color: transparent;
    }
    &__link{
        color: $font-col4;
        font-weight: 700;
    }
}
