.person-page{
    &__header{
        background: $bg-header2;
        padding: 20px;
    }
    &__content{
        display: flex;
    }
    &__sidebar{
        flex-basis: 300px;
        flex-shrink: 0;
    }
    &__main-content{
        padding-left: 10px;
    }
}

.person-card{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    &__img{
        flex-shrink: 0;
        flex-basis: 300px;
        img{
            width: 100%;
            border: 2px solid #fff;
            border-radius: 5px;
            box-shadow: 3px 3px 5px 2px rgba( 0, 0, 0, .2);
        }
    }
    &__description{
        flex-basis: 300px;
        flex-shrink: 1;
        flex-grow: 1;
        padding: 20px;
    }

    &__title{
        @include font(30px, #fff, 700);
    }
    &__biography{
        padding: 20px 0;
        h4{
            @include font(20px, #fff, 700);
            padding-bottom: 20px;
        }
    }    
}