.sidebar{

    padding: 10px 8px;
    background: $bg-film-sidebar;
    height: 100%;
    box-shadow: -2px 2px 4px #000;
    &__title{
        @include font(25px, $font-col6, 700)
    }
    &__field{
        padding: 5px 0;
        line-height: 150%;
        color: #fff;
        strong{
            color: $font-col7;
        }
    }
}