$font-col1: #000;
$font-col2: #696969;
$font-col3: #2F4F4F;
$font-col4: #F0F8FF;
$font-col5: #00FF00;

$bg-header: #2F4F4F;
$bg-content: #F5F5F5;
$bg-film-sidebar: #F0FFF0;
$bg-nav-btn: #006400;
$bg-nav-btn2: #228B22;

$bord-col: #00FF00;
$bord-col2: #3f3f3f