$font-col1: #000;
$font-col2: #696969;
$font-col3: #2F4F4F;
$font-col4: #F0F8FF;
$font-col5: #00FF00;
$font-col6: #a5e60e;
$font-col7: #c5c2c2;

$bg-header: #2F4F4F;
$bg-header2: rgb(3, 83, 204);
$bg-content: #F5F5F5;
$bg-film-sidebar: #014721;
$bg-nav-btn: #006400;
$bg-nav-btn2: #228B22;
$bg-carousel: rgb(7, 60, 158);

$bord-col: #00FF00;
$bord-col2: #3f3f3f;
