$font-col1: #000;
$font-col2: #696969;
$font-col3: #2F4F4F;
$font-col4: #F0F8FF;
$font-col5: #00FF00;
$font-col6: #a5e60e;
$font-col7: #c5c2c2;
$font-col8: rgb(38, 120, 241);
$font-col9: #050649;
$font-shadow: #04351a;

$bg-header: #2F4F4F;
$bg-header2: rgb(62, 114, 192);
$bg-content: #F5F5F5;
$bg-film-sidebar: #014721;
$bg-nav-btn: #006400;
$bg-nav-btn2: #228B22;
$bg-toggler-btn: rgb(62, 114, 192);
$bg-toggler-btn2: rgb(7, 60, 158);
$bg-carousel: rgb(7, 60, 158);

$bord-col: #00FF00;
$bord-col2: #3f3f3f;

$box-shadow: rgb(4, 170, 4);